<!DOCTYPE html>
<html lang='en'>
  <head>
  	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-wrap">
      <!-- Cabecera -->
    	<header class="main" id="h1">
    		<h2>Quiz 2015: el juego de las preguntas</h2>
    	</header>
      <!-- Menu -->
      <nav class="main" id="h1">
        <span><a href="/">Inicio</a></span>
        <span><a href="/quizes/question">Preguntas</a></span>
      </nav>
      <!-- Section -->
      <section class="main" id="s1">
        <%- body%>
      </section>
      <!-- Footer -->
      <footer class="main" id="f1">
        <a href="https://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
      </footer>
    </div>
  </body>
</html>